<h1>Hangman</h1>
<p>Guess the word by entering one letter at a time.</p>
<p><%= @word_masked %></p>
<%= form_tag('/game/guess') do %>
  <%= hidden_field_tag(:word, @word) %>
  <%= hidden_field_tag(:guesses, @guesses.join(',')) %>
  <%= hidden_field_tag(:word_masked, @word_masked) %>
  <%= label_tag(:guess, 'Your guess:') %>
  <%= text_field_tag(:guess) %>
  <%= submit_tag('Guess') %>
<% end %>
